* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-position: 100% 50px;
}

body {
    background-image: url(../img/bg-picture.png);
    background-size: 626px 760px;
    background-position: top 150px right;
    background-repeat: no-repeat;   
    background-attachment: fixed;
}

.header {
    min-height: 80px;
    display: flex;
    justify-content: center;
}

.header .container {
    position: fixed;
    max-width: 1220px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 13px 10px;
    z-index: 1;
    background-color: #fff;
}

.header .container .pages {
    display: flex;
    flex-direction: row;
}

.pages h2 {
    font-family: 'Tourney', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    margin-right: 50px;
}

.pages a, .pages span {
    font-family: 'Staatliches', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
}

.pages a {
    cursor: pointer;
}
.pages span {
    margin-right: 10px;
}

.pages a:visited {
    color: #000000;
}

.header .container .icon {
    width: 238px;
    height: 54px;
}

.side-main {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 70px 10px;
}

.side-main .side-bar {
    max-width: 420px;
    padding: 10px 35px 20px 10px;
    height: fit-content;
    position: sticky;
    background-color: #fff;
    top: 158px;
}

.side-main .side-bar ul li {
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
}

.side-main .side-bar ul li:not(:last-child) {
    margin-bottom: 70px;
}

.side-main .side-bar ul li a {
    font-family: 'Francois One', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

main .container {
    color: #000000;
    padding-bottom: 90px;
    max-width: 785px;
}

.chapters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapters li:not(:last-child) {
    margin-bottom: 70px;
}

.divider {
    display: inline-block;
    width: 100px;
    height: 8px;
    background-color: #000000;
    margin-bottom: 20px;
}

.chapters li .title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
}

.title h2 {
    font-family: 'Francois One', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    margin-right: 10px;
    letter-spacing: 0.04em;
}

.title p {
    font-family: 'Farro','Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.04em;
    align-self: stretch;
}

.info, .core-concepts {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    align-self: stretch;
}

.core-concepts li:not(:last-child) {
    margin-bottom: 40px;
}

.italic-span {
    font-style: italic;
}

.bold-span {
    font-weight: 700;
}

.bg-span {
    background-color: #DADADA;
    width: fit-content;
}

.underline-span {
    text-decoration: underline;
}

.info:not(:last-child) {
    margin-bottom: 40px;
}

@media only screen and (max-width: 992px) {
    .header .container {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .pages h2 {
        margin-right: 25px;
    }

    .header .container .icon {
        margin-bottom: 10px;
    }

    .side-main .side-bar {
        display: none;
    }

    .chapters li:not(:last-child) {
        margin-bottom: 20px;
    }

    .divider {
        width: 60px;
        height: 5px;
    }

    .chapters li .title {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .title h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .title-p {
        font-size: 18px;
        text-align: center;
    }
    
    .info, .core-concepts {
        font-size: 18px;
        text-align: center;
    }

    .core-concepts li:not(:last-child) {
        margin-bottom: 20px;
    }
    
    .info:not(:last-child) {
        margin-bottom: 20px;
    }
}

