* {
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}
.header .container {
    max-width: 1226px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 13px 10px; 
}

.header .container .pages {
    display: flex;
    flex-direction: row;
}

.pages h2 {
    font-family: 'Tourney', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    margin-right: 50px;
}

.pages a, .pages span {
    font-family: 'Staatliches', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
}

.pages a {
    margin-right: 10px;
    cursor: pointer;
}

.pages span:not(:last-child) {
    margin-right: 10px;
}

.pages a:visited {
    color: #000000;
}

.header .container .icon {
    width: 238px;
    height: 54px;
}

main .container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

main .container .heading {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.heading .divider {
    display: inline-block;
    width: 100px;
    height: 8px;
    background-color: #000000;
    margin-right: 20px;
}

.heading h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
}

main .container .logs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.flip-card {
    background-color: transparent;
    width: 270px;
    height: 180px;
    perspective: 1000px;
    margin: 0 15px 30px
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-front {
    background-color: #E6E6E6;
    border-radius: 8px;
}

.flip-card-back {
    background-color: #000000;
    transform: rotateX(180deg);
    border-radius: 8px;
}

.icon-facebook {
    width: 200px;
    height: 40px;
}

.icon-instagram, .icon-shopify {
    width: 200px;
    height: 57px;
}

.icon-skype {
    width: 200px;
    height: 62px;
}

.icon-pinterest, .icon-wix {
    width: 200px;
    height: 68px;
}

.icon-saleforse {
    width: 200px;
    height: 140px;
}

.icon-soundcloud {
    width: 200px;
    height: 114px;
}

@media only screen and (max-width: 992px) {
    .header .container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .pages h2 {
        margin-right: 25px;
    }

    .header .container .icon {
        margin-bottom: 10px;
    }

    main .container .heading {
        justify-content: center;
        margin-bottom: 20px;
    }
}
